<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/member/new" method="post" onsubmit="return ensureRegister();">
        <div class="form-group">
            <label for="name">e-mail</label>
            <input type="text" id="email" name="email" placeholder="e-mail을 입력하세요.">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요.">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
<script>
    function ensureRegister() {
        return confirm("입력한 정보로 회원가입하시겠습니까??");
    }
</script>
</html>